{%load humanize%}
<!-- Popular News Start -->
<div class="pb-3">
    <form action='{%url "search" %}'>
        <div class="input-group mb-3" style="width: 100%; max-width: 300px;">
            <input type="text" name='search' class="form-control" placeholder="جستجو">
            <div class="input-group-append">
                <button class="input-group-text text-secondary"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
    <div class="bg-light py-2 px-4 mb-3">
        <h3 class="m-0">مقالات پربازدید:</h3>
    </div>
    {%for article in articles%}
    <div class="d-flex mb-3">
        <img src="{{article.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
            <div class="mb-1" style="font-size: 13px;">
                <a href="">{{article.category.all}}</a>
                <span class="px-1">/</span>
                <span>{{article.published|naturaltime}}</span>
            </div>
            <a class="h6 m-0" href="{%url 'single' article.id %}">{{article.title}}</a>
        </div>
    </div>
    {%endfor%}
</div>
<!-- Popular News End -->